body{
	color: #121a2e;
	padding-top: 100px;
	font-family: 'Cormorant Garamond', serif;
}
.navbar-nav > li{
	padding-left: 10px;
	padding-right: 20px;
}
h2{
	padding-left: 20px;
	color: white;
}
#footer{
	color: white;
}
.card-title{
	font-size: 18px;
	font-weight: bolder;
}
#reshead{
	padding-left: 30px;
	padding-bottom: 10px
}
#homepadding{
	padding-top: 60px;
}
.heading{
	font-family: 'Playfair Display', serif;
}
p, content{
	font-size: 18px;
}